<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
         xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>
            This content will not be displayed
        </title>
    </h:head>
    <h:body>
        <composite:interface>
            <composite:attribute name="id" required="true"/>
        </composite:interface
        <composite:implementation>
            <h:form>
            #{cc.attrs.usernameLabel} : 
            <h:inputText id = "username" value = "#{cc.attrs.usernameValue}" />
            </h:form>
        </composite:implementation>
    </h:body>
</html>