<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="content">
        
    <h:form>
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
            <p:outputLabel for="basic" value="#{message.meetings}" />
            <p:selectManyMenu id="basic" value="#{basicView.selectedMeetings}">
                <f:selectItems value="#{basicView.meetings}" var="meeting" itemLabel="#{meeting.topic}" itemValue="#{meeting.id}" />
            </p:selectManyMenu>
 
            <p:outputLabel for="advanced" value="#{message.persons}" />
            <p:selectManyMenu id="advanced" value="#{basicView.selectedPersons}" 
                          filter="true" filterMatchMode="contains" showCheckbox="true">
                <f:selectItems value="#{basicView.persons}" var="person" itemLabel="#{person.name}" itemValue="#{person.id}" />
            </p:selectManyMenu>
        </h:panelGrid>
    <p:separator />
    <p:commandButton value="Submit"  action="#{basicView.attach()}"/>
 
    </h:form>
    <h:form>
        <p:commandButton id="home" value="Home" action="home" />
    </h:form>
    </ui:define>
</ui:composition>