<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="content">
    <h:form>
        <p:dialog header="Selected Values" modal="true" showEffect="fade" widgetVar="dlg" resizable="false" style="z-index: 1001;">
            <p:panelGrid columns="2" id="display" columnClasses="label,output">
                <h:outputText value="Basic:" />
                <p:dataList value="#{locToMeetView.selectedLocations}" var="p">
                    <h:outputText value="#{p}" />
                </p:dataList>

                <h:outputText value="Advanced:" />
                <p:dataList value="#{locToMeetView.selectedMeetings}" var="m">
                    <h:outputText value="#{m}" />
                </p:dataList>
            </p:panelGrid>
            <p:commandButton value="Submit" action="#{locToMeetView.attach()}"/>
        </p:dialog> 
        <h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5" columnClasses="label, value">
            <p:outputLabel for="basic" value="#{message.location}" />
            <p:selectManyMenu id="basic" value="#{locToMeetView.selectedLocations}">
                <f:selectItems value="#{locToMeetView.locations}" var="location" itemLabel="#{location.name}" itemValue="#{location.id}" />
            </p:selectManyMenu>
 
            <p:outputLabel for="advanced" value="#{message.meetings}" />
            <p:selectManyMenu id="advanced" value="#{locToMeetView.selectedMeetings}" 
                          filter="true" filterMatchMode="contains" showCheckbox="true">
                <f:selectItems value="#{locToMeetView.meetings}" var="meeting" itemLabel="#{meeting.topic}" itemValue="#{meeting.id}" />
            </p:selectManyMenu>
            
        </h:panelGrid>
 
    <p:separator />
 
    <p:commandButton value="Submit" update="display" oncomplete="PF('dlg').show()" icon="pi pi-check" />
 
    </h:form>
    <h:form>
        <p:commandButton id="home" value="Home" action="home" />
    </h:form>
    </ui:define>
</ui:composition>

