<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/dataEdit.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    
    <ui:param name="dataEdit" value="#{meetingBean}" />
    
    <ui:define name="dataEditContent">
        <h:panelGrid id="meetingPanel" columns="2" cellpadding="5">
            <p:outputLabel for="topic" value="#{message.topic}" />
            <p:inputText id="topic" required="true" size="50" value="#{meetingBean.topic}">
                <f:validateLength maximum="100"/>
            </p:inputText>
            
            <p:outputLabel for="meetingStartTime" value="#{message.StartTime}"/>
            <h:inputText id="meetingStartTime" required="true" value="#{meetingBean.startTime}" >
                <f:convertDateTime pattern = "yyyy-mm-dd" />
            </h:inputText> 
            <p:message id="errors_date_time" style="color: red" showSummary="true" showDetail="false" for="meetingStartTime"/>
            
            <p:outputLabel for="meetingDuration" value="#{message.Duration}"/>
            <p:inputNumber id="meetingDuration" required="true" value="#{meetingBean.duration}" />
            <p:message id="errors_duration" style="color: red" showSummary="true" showDetail="false" for="meetingDuration"/>
            
            <p:outputLabel for="meetingMax_pers" value="#{message.max_pers}"/>
            <p:inputNumber id="meetingMax_pers" required="true" value="#{meetingBean.max_pers}" />
            <p:message id="errors_Max_pers" style="color: red" showSummary="true" showDetail="false" for="meetingDuration"/>
            
        </h:panelGrid>
    </ui:define>
</ui:composition>

