<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/dataEdit.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    
    <ui:param name="dataEdit" value="#{personBean}" />
    
    <ui:define name="dataEditContent">
        <h:panelGrid id="personPanel" columns="2" cellpadding="5">
            <p:outputLabel for="nume" value="#{message.name}" />
            <p:inputText id="nume" required="true" size="50" value="#{personBean.name}">
                <f:validateLength maximum="100"/>
            </p:inputText>
        </h:panelGrid>
    </ui:define>
</ui:composition>
