<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/dataView.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="dataViewContent">
        <h:form>
            <div class="p-field p-grid">
                <p:outputLabel for="location" styleClass="p-col-fixed" style="width:100px" value="#{message.location}" />
                <div class="p-col">
                    <p:selectBooleanCheckbox id="v_option1" value="#{searchMeetingView.locationNameChecked}"/>
                    <p:inputText id="location" value="#{searchMeetingView.locationName}" />
                </div>
            </div>
            
            <div class="p-field p-grid">
                <p:outputLabel for="person" styleClass="p-col-fixed" style="width:100px" value="#{message.name}" />
                <div class="p-col">
                    <p:selectBooleanCheckbox id="v_option2" value="#{searchMeetingView.personNameChecked}"/>
                    <p:inputText id="person" value="#{searchMeetingView.personName}"/>
                </div>
            </div>
            
            <div class="p-field p-grid">
                <p:outputLabel for="startTime" styleClass="p-col-fixed" style="width:100px" value="#{message.StartTime}" />
                <div class="p-col">
                    <p:selectBooleanCheckbox id="v_option3" value="#{searchMeetingView.startTimeChecked}"/>
                    <p:inputText id="startTime" value="#{searchMeetingView.startTime}">
                        <f:convertDateTime pattern = "yyyy-mm-dd" />
                    </p:inputText>
                </div>
            </div>
            <p:commandButton id="saveBtn" value="#{message.search}" action="#{searchMeetingView.search()}" type="Submit" ajax="content" />
        </h:form>
        <p:dataTable id="content" value="#{searchMeetingView.searchedMeetings}" var="item">
            <p:column headerText="#{message.id}"  >
                <h:outputText value="#{item.id}" />
            </p:column>
            <p:column headerText="#{message.topic}">
                <h:outputText value="#{item.topic}" />
            </p:column>
            <p:column headerText="#{message.StartTime}">
                <h:outputText value="#{item.startTime}" />
            </p:column>
            <p:column headerText="#{message.Duration}">
                <h:outputText value="#{item.duration}" />
            </p:column>
        </p:dataTable>     
    </ui:define>
</ui:composition>
