<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/dataView.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="dataViewContent">
        <p:dataTable value="#{locToMeetView.locations}" var="item">
            <p:column headerText="#{message.id}"  >
                <h:outputText value="#{item.id}" />
            </p:column>
            <p:column headerText="#{message.name}">
                <h:outputText value="#{item.name}" />
            </p:column>
        </p:dataTable>        
    </ui:define>
</ui:composition>
