<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="content">
        <h:form id="dataViewMsg">
            <p:messages id="messages" for="dataForm" showDetail="false"  closable="true" />
        </h:form>
        <h:form id="dataForm" style="background: white">
            <ui:insert name="dataViewContent">
                A view of the data. May be a dataTable, or a list, etc.
            </ui:insert>
        </h:form>
        <br/>
    </ui:define>
</ui:composition>

