<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core">
    
    <f:loadBundle basename="Messages" var="message"/>
    <h:head>
        <title>${message.title}</title>
        <style type="text/css">
            html {
              position: relative;
              min-height: 100%;
            }
            body {
              /* Margin bottom by footer height */
              margin-bottom: 60px;
            }
            .top {
              position: absolute;
              right: 50%;
              /* Set the fixed height of the footer here */
              height: 60px;
            }
            .main
            {
                position: absolute;
                top: 20%;
            }
            .bottom {
              position: absolute;
              bottom: 0;
              width: 99%;
              /* Set the fixed height of the footer here */
              height: 60px;
              background-color: #f5f5f5;
            }
        </style>
    </h:head>
    <h:body>
        <div id="top" class="top">
            <ui:insert name="top">
            </ui:insert>
        </div>
        <br/>
        <div id="content" class="main">
            <ui:insert name="content">#{MassageToDisplay}</ui:insert>
        </div>
        
        <br/>
        <div id="bottom" class="bottom">
            <ui:insert name="bottom">Copy Rights @Manole_JAVA_LABS</ui:insert>
        </div>
        <br/>
    </h:body>
</html>

