<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/dataEdit.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    
    <ui:param name="dataEdit" value="#{addOptionalView}" />
    
    <ui:define name="dataEditContent">
        <h:panelGrid id="personPanel" columns="2" cellpadding="5">
            <p:outputLabel for="nume" value="#{message.denummire}" />
            <p:inputText id="nume" required="true" size="50" value="#{addOptionalView.optionalBean.denumire}">
                <f:validateLength maximum="40"/>
            </p:inputText>
            
            <p:outputLabel for="nrLocuri" value="#{message.nrLocuri}"/>
            <p:inputNumber id="nrLocuri" required="true" value="#{addOptionalView.optionalBean.nrLocuri}" />
            
            <p:outputLabel for="nrOptiune" value="#{message.nrOptiune}"/>
            <p:inputNumber id="nrOptiune" required="true" value="#{addOptionalView.optionalBean.nrOptiune}" />
            
            <p:outputLabel for="an" value="#{message.an}"/>
            <p:inputNumber id="an" required="true" value="#{addOptionalView.optionalBean.an}" />
        </h:panelGrid>
    </ui:define>
</ui:composition>
