<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/dataEdit.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    
    <ui:param name="dataEdit" value="#{addStudentView}" />
    
    <ui:define name="dataEditContent">
        <h:panelGrid id="personPanel" columns="2" cellpadding="5">
            <p:outputLabel for="fnume" value="#{message.firstname}" />
            <p:inputText id="fnume" required="true" size="50" value="#{addStudentView.studentBean.firstname}">
                <f:validateLength maximum="40"/>
            </p:inputText>
            
            <p:outputLabel for="lnume" value="#{message.lastname}" />
            <p:inputText id="lnume" required="true" size="50" value="#{addStudentView.studentBean.lastname}">
                <f:validateLength maximum="40"/>
            </p:inputText>
            
            
            <p:outputLabel for="email" value="#{message.email}" />
            <p:inputText id="email" required="true" size="50" value="#{addStudentView.studentBean.email}">
                <f:validateLength maximum="40"/>
            </p:inputText>
            
             <p:outputLabel for="nrmatricol" value="#{message.nrmatricol}" />
             <p:inputText id="nrmatricol" required="true" size="50" value="#{addStudentView.studentBean.nrmatricol}">
                <f:validateLength maximum="40"/>
            </p:inputText>
            
             <p:outputLabel for="cnp" value="#{message.cnp}" />
             <p:inputText id="cnp" required="true" size="50" value="#{addStudentView.studentBean.cnp}">
                <f:validateLength maximum="40"/>
            </p:inputText>
             
            <p:outputLabel for="credite" value="#{message.credite}"/>
            <p:inputNumber id="credite" required="true" value="#{addStudentView.studentBean.credite}" />
            
            <p:outputLabel for="an" value="#{message.an}"/>
            <p:inputNumber id="an" required="true" value="#{addStudentView.studentBean.an}" />
        </h:panelGrid>
    </ui:define>
</ui:composition>
