<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="content">
        <h:form>
            <p:commandButton id="Notify" type="submit" value="#{message.Notify}" action="#{notifyView.notifyAllStudents()}" icon="pi pi-check" />
            <p:commandButton id="Cancel"  value="#{message.Cancel}" action="Home" icon="pi pi-check" />
        </h:form>
    </ui:define>
</ui:composition>

