<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
 <f:loadBundle basename="Messages" var="message"/>
 <ui:define name="content">
    <h:form id="dataEditForm">
             <ui:insert name="dataEditContent">Data editor</ui:insert>
             <p:focus id="formFocus" context="dataEditForm"/>
             <h:panelGrid id="dataEditButtons" columns="2">
                 <p:commandButton id="saveBtn" value="#{message.Save}" action="#{dataEdit.insert()}" type="Submit" />
                 <p:commandButton id = "cancelBtn" value="Cancel" immediate="true" action="Home" />
             </h:panelGrid>
    </h:form> 
    <h:form>
            <p:commandButton id="records" value="Records" action="show" type="Submit"/>
    </h:form>
 </ui:define>
</ui:composition>

