<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="content">
        <h:form enctype="multipart/form-data">        
            <p:fileUpload value="#{guestView.file}" mode="simple" skinSimple="true"/>
            <br/>
            <p:commandButton id="submit" value="Submit" ajax="false" action="#{guestView.refresh()}" type="Submit"/>
            <p:commandButton id = "cancelBtn" value="#{message.cancelButton}" immediate="true" action="home" />
        </h:form>
    </ui:define>
</ui:composition>

