<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="top">
        <h:form>
            <p:poll interval="10" update="LogIn" />
            <p:commandButton id = "LogIn" value="Log In" immediate="true" action="login" disabled="false" />
            <p:poll interval="10" update="Register" />
            <p:commandButton id = "Register" value="Register" immediate="true" action="register" disabled="false"/>
        </h:form>
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText value="${message.indexDescription}" style="text-justify: auto"/>
        </h2>
        <h3> ${message.availableText} </h3>
        <p:calendar id="leftTime" value="#{indexView.leftIntervalBound}" readonly="true" pattern="yyyy-mm-dd:hh:mm:ss"/>
        <p:calendar id="rightTime" value="#{indexView.rightIntervalBound}" readonly="true" pattern="yyyy-mm-dd:hh:mm:ss"/>
        <br/>
        <p> ${message.currentTime} </p>
        <p:clock displayMode="analog"/>
        <p:clock />
    </ui:define>
</ui:composition>

