<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/page.xhtml"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:p="http://primefaces.org/ui">
    
    <f:loadBundle basename="Messages" var="message"/>
    <ui:define name="content">
        <h:form id="dataEditForm">
            <h:panelGrid id="personPanel" columns="2" cellpadding="5">
                <p:outputLabel for="nume" value="#{message.userName}" />
                <p:inputText id="nume" required="true" size="50" value="#{registerView.userBean.userName}">
                    <f:validateLength maximum="100"/>
                </p:inputText>
                <p:outputLabel for="password" value="#{message.password}" />
                <p:inputText id="password" required="true" size="50" value="#{registerView.userBean.password}" type="password">
                    <f:validateLength maximum="100"/>
                </p:inputText>
                <p:outputLabel for="type" value="#{message.userType}" />
                <p:selectOneMenu id="type" value="#{registerView.userBean.userType}" >
                    <f:selectItems value="#{registerView.userTypes}" />
                </p:selectOneMenu>
                <h:panelGrid id="dataEditButtons" columns="2">
                    <p:commandButton id="saveBtn" value="#{message.registerButton}" action="#{registerView.register}" type="Submit"/>
                    <p:commandButton id = "cancelBtn" value="#{message.cancelButton}" immediate="true" action="home" />
                </h:panelGrid>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>
